.banner__img {
    background: url('../../img/banner.jpg') no-repeat center / cover;
    width: 100%;
}

@media screen and (min-width: 0) {
    .banner__img {
        height: calc(100vh - 900px);
    }
}

@media screen and (min-width: 1280px) {
    .banner__img {
        height: calc(100vh - 700px);
    }
}