.recipe__description {
    text-align: justify;
}

@media screen and (min-width: 0) {
    .recipe__description {
        text-align: center;
        padding: 0 2rem 0 2rem;
    }
}

@media screen and (min-width: 768px) {
    .recipe__description {
        text-align: center;
        padding: 0 0 0 0;
    }
}

@media screen and (min-width: 1280px) {
    .recipe__description {
        text-align: center;
        padding: 0 0 0 0;
    }
}