.recipe {
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.recipe:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.recipe:hover .recipe__img {
    transform: scale(1.05);
}


@media screen and (min-width: 0) {
    .recipe {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .recipe {
        margin-right: 2.5rem;
        width: calc(33.33% - 2.5rem);
    }
}

@media screen and (min-width: 1280px) {
    .recipe {
        margin-right: 5rem;
        width: calc(25% - 5rem);
    }
}